:root {
  --font-family-default: 'Barlow Semi Condensed', sans-serif;

  /*font-weight*/
  --fw-regular: 500;
  --fw-semi-bold: 600;

  /*font-size*/
  --fs-200: 0.8125rem;
  --fs-300: 1.25rem;

  /* line-height */
  --lh-200: 1.125rem;
  --lh-300: 1.25rem;

  /* gap */
  --gap-100: 1rem;
  --gap-200: 1.5rem;

  /* padding */
  --padding-100: 1rem;
  --padding-200: 2rem;

  /* bg */
  --bg-body: #F2F2F2;
  --bg-violet: hsl(263, 55%, 52%);
  --bg-dark-gray-blue: hsl(217, 19%, 35%);
  --bg-black-blue: hsl(219, 29%, 14%);
  --bg-white: hsl(0, 0%, 100%);

  /* clr */
  --clr-dark-gray-blue: hsl(217, 19%, 35%);
  --clr-gray-blue: hsl(210, 46%, 95%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/* utils */

.flex-col {
  display: flex;
  flex-direction: column;;
}

body {
  font-family: var(--font-family-default);
  background: var(--bg-body);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  line-height: var(--lh-200);
  padding: var(--padding-200);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  gap: var(--gap-200);
  grid-template-columns: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: var(--gap-100);
}

.profile-image {
  border-radius: 50%;
}

.item {
  padding: var(--padding-100);
  gap: var(--gap-100);
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}

/* review */

.review {
  font-size: var(--fs-300);
  line-height: var(--lh-300);
  font-weight: var(--fw-semi-bold);
}

.bio {
  opacity: 0.5;
}

.title {
  opacity: 0.7;
}

/* backgrounds */

.bg-white {
  background: var(--bg-white);
}

.bg-violet {
  background: var(--bg-violet);
}

.bg-gray {
  background: var(--bg-dark-gray-blue);
}

.bg-black-blue {
  background: var(--bg-black-blue);
}

/* clr */

.clr-light {
  color: var(--clr-white);
}

.clr-dark {
  color: var(--clr-dark-gray-blue);
}

.clr-gray-blue {
  color: var(--clr-gray-blue);
}

.item:first-child {
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-col-span-2 {
    grid-column: span 2;
  }
  
  .item:last-child {
    grid-column-start: 4;
    grid-row: 1 / span 2;
  }
}